* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
}

header {
  height: 5%;
  padding: 5px;
  background-color: #000;
  text-align: center;
  font-size: 15px;
  color: white;
}
nav {
  float: left;
  width: 20%;
  height: 100%;
  background-color: #bbb;
  padding: 20px;
}
article {
  float: left;
  width: 60%;
  padding: 20px;
  background-color: #ccc;
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
